In [1]:
population={
    "shanghai":"17.8",
    "istanbul":"13.3",
    "karachi":"13.0",
    "mumbai":"12.5"
}
print(population)

{'shanghai': '17.8', 'istanbul': '13.3', 'karachi': '13.0', 'mumbai': '12.5'}

In [2]:
animals={'dogs':[20,10,15,8,32,15],'cats':[3,4,2,8,2,4],'rabit':[2,3,3],'fish':[0.3,0.5,0.8,0.3,1]}
animals['dogs']

[20, 10, 15, 8, 32, 15]

In [3]:
animals['dogs'][3]

8

In [4]:
animals['fish']

[0.3, 0.5, 0.8, 0.3, 1]

In [5]:
animals['dogs']

[20, 10, 15, 8, 32, 15]

In [7]:
a=[1,2,2,3,3,3,4,4,4,4]
b=set(a)
print(len(a)-len(b))

6

In [8]:
tuple_a=3,4
tuple_b=(3,4)
print(tuple_a==tuple_b)
print(tuple_a[1])

True
4

In [9]:
names=["carrot","albert","ben","donna"]
print("&".join(sorted(names)))

albert&ben&carrot&donna

In [10]:
ans=[3,16,33]
guess=[2,15,32]
if guess==ans:
    print("guess is correct")
elif guess<ans:
    print("guess is low")
elif guess>ans:
    print("guess is high")

guess is low

In [11]:
for i in range(1,30):
    if(i%5==0):
        print(i)

5
10
15
20
25

In [15]:
#assignment 3
import numpy as np
x=np.array([1,2,3,4])
y=np.array([5.5,6.5,7.5,8.5])
np.add(x,y)

array([ 6.5,  8.5, 10.5, 12.5])

In [16]:
import numpy as np
x=np.array([1,2,3,4])
y=np.array([5.5,6.5,7.5,8.5])
np.subtract(x,y)

array([-4.5, -4.5, -4.5, -4.5])

In [17]:
import numpy as np
x=np.array([1,2,3,4])
y=np.array([5.5,6.5,7.5,8.5])
np.multiply(x,y)

array([ 5.5, 13. , 22.5, 34. ])

In [18]:
import numpy as np
x=np.array([1,2,3,4])
y=np.array([5.5,6.5,7.5,8.5])
np.divide(x,y)

array([0.18181818, 0.30769231, 0.4       , 0.47058824])

In [25]:
import numpy as np
x=np.array([[1,2],[3,4]])
np.sqrt(x)

array([[1.        , 1.41421356],
       [1.73205081, 2.        ]])

In [31]:
import numpy as np
x=np.array([[1,2],[3,4]])
np.max(x,axis=1)

array([2, 4])

In [32]:
import numpy as np
x=np.array([[1,2],[3,4]])
np.median(x,axis=0)

array([2., 3.])

In [33]:
import numpy as np
x=np.array([[1,2],[3,4]])
np.median(x,axis=1)

array([1.5, 3.5])

In [34]:
import numpy as np
x=np.array([[1,2],[3,4]])
np.max(x,axis=0)

array([3, 4])

In [35]:
import numpy as np
x=np.array([[1,2],[3,4]])
np.std(x,axis=1)

array([0.5, 0.5])

In [36]:
import numpy as np
x=np.array([[1,2],[3,4]])
np.std(x,axis=0)

array([1., 1.])

In [37]:
import numpy as np
x=np.array([[1,2],[3,4]])
np.mean(x,axis=0)

array([2., 3.])

In [38]:
import numpy as np
x=np.array([[1,2],[3,4]])
np.mean(x,axis=1)

array([1.5, 3.5])

In [39]:
import numpy as np
x=np.array([[1,2],[3,4]])
np.exp(x)

array([[ 2.71828183,  7.3890561 ],
       [20.08553692, 54.59815003]])

In [45]:
import pandas as pd
company=[{'year':1990,'name':'Alice','department': 'HR','age':25,'salary':50000},
         {'year':1990,'name':'bob','department':'RD','age':30,'salary':48000},
         {'year':1990,'name':'charlie','department':'admin','age':45,'salary':55000},
         {'year':1991,'name':'Alice','department':'HR','age':26,'salary':52000},
         {'year':1991,'name':'bob','department':'RD','age':31,'salary':50000},
         {'year':1991,'name':'charlie','department':'admin','age':46,'salary':60000},
         {'year':1992,'name':'Alice','department': 'admin','age':27,'salary':60000},
         {'year':1992,'name':'bob','department':'RD','age':32,'salary':520000},
         {'year':1992,'name':'charlie','department':'admin','age':28,'salary':62000}]
statistics_company=pd.DataFrame(company,index=[0,1,2,3,4,5,6,7,8])
statistics_company

   age department     name  salary  year
0   25         HR    Alice   50000  1990
1   30         RD      bob   48000  1990
2   45      admin  charlie   55000  1990
3   26         HR    Alice   52000  1991
4   31         RD      bob   50000  1991
5   46      admin  charlie   60000  1991
6   27      admin    Alice   60000  1992
7   32         RD      bob  520000  1992
8   28      admin  charlie   62000  1992

In [46]:
statistics_company.groupby(['year'])['salary'].sum()

year
1990    153000
1991    162000
1992    642000
Name: salary, dtype: int64

In [47]:
statistics_company.groupby(['name'])['salary'].sum()

name
Alice      162000
bob        618000
charlie    177000
Name: salary, dtype: int64

In [48]:
statistics_company.groupby(['year','department'])['salary'].sum()

year  department
1990  HR             50000
      RD             48000
      admin          55000
1991  HR             52000
      RD             50000
      admin          60000
1992  RD            520000
      admin         122000
Name: salary, dtype: int64